<nav class="navbar-span">
  <div class="section1">
    <a class="navbar-logo" (click)="onClick()" routerLink="\" target="_parent">MOVIES</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="filters-container">
        <ul class="filter-buttons">
          <li>
            <a id="filterbtn" type="button" (click)="onClick()" [routerLink]="['/now-playing']">NOW
              PLAYING</a>
          </li>
          <li>
            <a id="filterbtn" type="button" (click)="onClick()" [routerLink]="['/popular']">POPULAR</a>

          </li>
          <li>
            <a id="filterbtn" type="button" (click)="onClick()" [routerLink]="['/top-rated-list']">TOP
              RATED</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="nav-item">
      <select class="genreFilter" (change)="onChange($event)" [(ngModel)]="genreId">
        <option value="0" disabled>GENRES</option>
        <option name="genres" *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</option>
      </select>
    </div>

    <form name="userIcons" id="userIcons">
      <span *ngIf="main"><input name="search" type="text" placeholder="Search" [(ngModel)]="movieString"
          (change)='searchMovie()' /></span>
      <span *ngIf="!main"></span>
      <button id="ui" type="toggle" (click)="toggleSearchInput()">Search</button>
      <a id="ui" routerLink="\" target="_parent">Home</a>
      <button id="ui" routerLink='/watchlist-page'>WatchList</button>
    </form>
    <form *ngIf="!main"></form>
  </div>
</nav>
