<nav class="navbar-nav" role="navigation">
    <div class="navbar-inner">
    <div class="container ">
        <div class="navbar-header">
        <a class="navbar-header" href="" selected>MOVIES</a>
        </div>
    
    <div class="nav-bar links" id="links">
        <ul class="nav navbar-nav">
            <li><a class="navbar-text" href="upcoming">Upcoming</a></li>
            <li><a class="navbar-text" href="popular">Popular</a></li>
            <li><a class="navbar-text" href="favorites">Watch List</a></li>
        </ul>
    </div>
    </div>
    </div>
</nav>