<div class="moviesDiv" *ngIf="movie">
  <div class="movieDiv" *ngFor="let movie of list">
    <p class="voteAverage">
      Rating:
      {{movie.vote_average}}
    </p>
    <button class="" (click)="addWatchList(movie)">Add to Watchlist</button>
    <div class="imageDiv"><img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" class="img-fluid"
        alt="{{ movie.title }}"></div>
    <div class="textDiv">
      <a [routerLink]="['/movie-detail', movie.id]" class="movieTitle">{{ movie.title }}</a>
    </div>
  </div>
</div>
